<html>
<head>
  <title>Top 100 Albums of All Time</title>
</head>
<body>
<h1>Rolling Stone's Top 11 Albums of All Time</h1>
<form action="/list" method="GET">
  <label for="order">Sort By</label>
  <select name="order">
    <option value="rank">Rank (default)</option>
    <option value="title">Title</option>
    <option value="year">Year</option>
  </select>
  <label for="rank">Select a Rank to Highlight</label>
  <select name="rank">
  <% (1..NUMBER_OF_ALBUMS).each do |i| %>
  <%= "<option value=\"#{i}\">#{i}</option>\n" %>
  <% end %>
  </select>
  <input type="submit" value="Display List">
</form>
</body>
</html>